@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-container {
    display: flex;
    animation: scrollAnimation 15s linear infinite;
}

@keyframes scrollAnimation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}